.zyme .ew .dijitMenuBar .dijitMenuItem:first-child {
    border-right: 0;
}
.zyme  .ew .dijitMenuBar .dijitMenuItem:last-child {
  min-width: 90px;
  text-align: right;
}
.zyme .ew .dijitMenuBar .dijitMenuItem > span, .zyme .ew .dijitMenuBar .dijitMenuItem > span >a {
 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
 font-size:12px;
 line-height:normal;
 color:inherit;
}
.zyme .ew .dijitMenuBar .dijitMenuItem {
    border-right: 1px solid #999999;
	  padding: 6px 20px 7px;
	  color:#999999;
	  
}

.zyme  .ew .dijitMenuBar {
    border: 0px;
	padding:0px;
}
.zyme td.dijitMenuItemLabel{
padding-top:2px;
}
 .zyme .ew .dijitMenuBar .dijitMenuItem {
    height: 18px;
}
 .zyme .ew .dijitMenuBar .dijitMenuItemHover, .dijitMenuBar .dijitMenuItemSelected{
  border-top:  0px;
  border-left:  0px;
  border-bottom:  0px;
  padding: 6px 20px 7px;
   color:#ffffff;
}
.zyme .ew  .dijitMenu .dijitMenuItem  td, .zyme .ew .dijitComboBoxMenu .dijitMenuItem{
font-size:12px;
}
.zyme .ew .dijitMenuBar {
 height:inherit;
}
.zyme .ew {
    background-color: transparent;
    width: 300px;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    display: inline-block;
    font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #131313;
	z-index: 100000;
	
}

.ew .st-img {
    height: 17px;
    width: 17px;
	
}

.pr-el{
max-width: 110px
}

.el{
text-overflow: ellipsis;overflow: hidden;
font-size: 12px;
}

.ew .ld{
 height: 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./images/progress.gif');
}