@import url("bc.css");
@import url("cdd.css");
@import url("resellerMapping.css");
@import url("cloning.css");
@import url("fontawesome/css/font-awesome.min.css");
@import url("../../../app/components/alert/css/alert.css");
@import url("../../../app/components/AjaxLoaderDialog/css/styles.css");
@import url("udfStyles.css");

* {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        "DejaVu Sans", Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    height: 14px;
    width: 14px;
    cursor: pointer;
    border: none;
}

.lbl-logo {
    color: #FFFFFF;
    float: left;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
}

.title-bar {
    background: none repeat scroll 0 0 #e2e2e2;
    height: 30px;
    width: 100%;
}

#errBar {
	position: relative;
}

.footer-bar {
    background: none repeat scroll 0 0 #e4e2e2;
    float: left;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-bar>div {
    width: 970px;
    margin: 0 auto;
    text-align: right;
}

.copy-right-msg {
    color: #666666;
    font-size: 10px;
}

.z-fn-anc-deco {
    font: bold 12px arial;
    text-decoration: underline;
    cursor: pointer;
    color: #1B93D7
}

.z-fn-anc {
    font: bold 12px arial;
    cursor: pointer;
    color: #1B93D7
}

.z-fn {
    font: 12px arial !important;
    color: #333;
}

.reg-header {
    margin: 0px;
    position: fixed;
    width: 100%;
    background: none repeat scroll 0 0 #333333;
    z-index: 10000;
    height: 28px;
}

.navigation-bar {
	width: 970px !important;
	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
    height: 28px;
    margin: 0 auto;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.reg-nav-header {
    font-size: 20px;
    margin: 0 auto;
    width: 980px;
}

div#buttonbar {
    width: 970px;
    margin: 0 auto;
    position: relative;
    height: 30px;
    top: 6px;
}

/*
@media screen and (max-width: 1400px) {
    div#buttonbar > div.srch-mn {
    	left: -9px;
	}
}
*/

.buttons-container {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    height: 100%;
}

.container {

}

.row {
    margin-top: 5px;
	background: #f7f7f7;
	border-bottom: 1px solid #E0DDDA;
	color: #555;
	line-height: 18px !important;
}

.cv-expane .row {
    background: #f7f7f7;
}

.rw-cl {
    padding: 0 5px;
    clear: both;
    /*    border-bottom: 1px solid #e7e7e7;*/
}

.partner-view .rw-cl{
    height: 38px;
}

.partner-view .col {
	position: relative;
    bottom: 0px;
}

.rw-cl:hover {
    background: #FEF3DC;
}

.rw-sl {
    background: #FEF3DC;
}

.col {
    display: inline-block;
    width: 140px;
}

@media all and (-ms-high-contrast: none) { 
   .partner-view .col {
    position: relative;
    bottom: 6px;
}

#content .col-vl {
    display: block;
}

#content .col {
    position: relative;
    bottom: 4px;
}

.row {
	line-height: 14px !important;
}
.im-history {
	bottom: 0px !important;
}
}

.col-hd {
    color: #999999;
    font: 11px arial;
    margin-bottom: 5px;
}
.col-hd {
    color: #999999;
    font: 11px arial;
    margin-bottom: 5px;
}

.inv-sales .col-hd, .inv-reset .col-hd, .add-mapping .col-hd, .inv-returns .col-hd {
    margin-left: 5px;
}

.inv-reset .transDate{
	margin-left: 5px;
}
.col-vl {
    font: normal 12px arial;
    color: #333333;
}

.col-wd {
    height: 14px;
}

.num-hd{
    text-align: right;	
}
/*
.searchDiv {
    border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	height: 25px !important;
	//margin-top: 2px;
	background: white;
}

.searchDiv>div {
    float: left;
	font-size: 14px;
	position: relative;
	top: 2px;
}

.searchDiv div.dijitTextBox {
	margin-left: 0px;
	margin-top: 1px;
}

.searchDiv .dijitTextBoxFocused {
	background: white;
	border: none !important;
	box-shadow: none;
}

.searchDiv .dijitPlaceHolder {
	padding: 2px 6px !important;
	top: -1px;
}

.searchDiv .dijitTextBoxHover {
	background-color: white;
	border: none !important;
	background-image: none !important;
}

.fa {
	color: #555;
}

.searchClearDiv, .searchButtonDiv {
    display: inline-block;
    position: relative;
    bottom: 10px;
}

.searchButtonDiv .button {
	position: relative;
  	bottom: 1px;
  	padding: 5px;	
}*/

.searchInputContainer .dijitInputField {
	padding: 2px 3px !important;
}
    
.searchInputContainer .dijitTextBox {
    border-radius: 0px;
    font-size: 14px !important;
}

.inp-txt {
    border: medium none !important;
    width: 100% !important;
    vertical-align: baseline;
}

input[type="text"],select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #CCCCCC;
    font-family: Arial !important;
    font-size: 12px !important;
    height: 16.5px !important;
    width: 90%;
}

.dijitPlaceHolder {
    color: #AAAAAA;
    font-style: normal;
    font-size: 12px;
    padding: 0 5px;
}

.im-history {
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 4px;
}

.expane {
    height: auto;
    display: none;
    padding: 0 5px;
    background: white;
    position: relative;
    min-height: 30px;
}

.cv-expane {
    height: auto;
    display: none;
    padding: 0;
}

.pg-dv {
    margin-bottom: 2px !important;
    margin-top: 15px;
    position: absolute;
	right: -5px;
	display: inline-block;
}

.expane .pg-dv{
 right:36px; 
 bottom:10px;
}

@-moz-document url-prefix() { 
  .expane .pg-dv{
 	right: 58px; 
 	bottom:10px;
	}
	
	.row {
	line-height: 14px !important;
	}
}

.pg-nl {
	color: #50B2EA;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #50B2EA;
	cursor: pointer;
	padding: 5px 10px;
	margin: 5px;
	font: bold 12px arial;
}

.pg-dot {
    color: #50B2EA;
    cursor: default;
    padding: 0 5px;
    margin: 0px;
    font: bold 12px arial;
}

.pg-nl:hover {
    background: #005580;
    color: white;
}

.pg-sl {
    background: #005580;
    color: white;
    cursor: default;
}

.disable {
    opacity: 0.5;
    cursor: default;
    background: #FFF;
}

.dijitPopup {
    font-family: Arial;
    font-size: 12px;
}

/*tooltip*/
.dijitTooltipRight {
    padding-left: 14px;
}

.dijitTooltip,.dijitTooltipDialog {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dijitTooltip {
    display: block;
    left: 50%;
    overflow: visible;
    position: absolute;
    top: -10000px;
    z-index: 2000;
}

.dijitTooltipContainer {
    background-color: #FFFFFF;
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #769DC0 !important;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    padding: 6px 8px;
    background: #FFF !important;
    border: 0;
    color: #1B93D7 !important;
    font: bold 12px arial !important;
}

.dijitTooltipRight .dijitTooltipConnector {
    background-position: -48px 0;
    bottom: 3px;
    height: 14px;
    left: 0;
    width: 16px;
}

.dijitTooltipConnector {
    background-image: url("images/tooltip.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 14px;
    width: 16px;
    z-index: 2;
}

.dijitTooltipConnector {
    position: absolute;
}

.dijitTooltipBelow .dijitTooltipConnector {
    background-position: -31px 0;
    height: 14px;
    left: 3px;
    top: 0;
    width: 16px;
}

.dijitTooltipAbove .dijitTooltipConnector {
    background-position: -15px 0;
    bottom: 0;
    height: 14px;
    left: 3px;
    width: 16px;
}

.dj_ie7 .dijitTooltipAbove .dijitTooltipConnector,.dj_ie6 .dijitTooltipAbove .dijitTooltipConnector
{
    bottom: -1px;
}

.dijitTooltipBelow .dijitTooltipConnector {
    background-position: -31px 0;
    height: 14px;
    left: 3px;
    top: 0;
    width: 16px;
}

.dijitTooltipAbove .dijitTooltipConnector {
    background-position: -15px 0;
    bottom: 0;
    height: 14px;
    left: 3px;
    width: 16px;
}

.dj_ie7 .dijitTooltipAbove .dijitTooltipConnector,.dj_ie6 .dijitTooltipAbove .dijitTooltipConnector
{
    bottom: -1px;
}

.dijitTooltipABRight .dijitTooltipConnector {
    left: auto;
    right: 3px;
}

.dijitTooltipLeft {
    padding-right: 14px;
}

.dijitTooltipLeft .dijitTooltipConnector {
    background-position: 0 0;
    height: 14px;
    right: 0;
    width: 16px;
}

.dijitTooltipRight {
    padding-left: 14px;
}

.dijitTooltipRight .dijitTooltipConnector {
    background-position: -48px 0;
    height: 14px;
    left: 0;
    width: 16px;
}

/* Tooltip*/
.errordivMain{
    width: 500px;
    display: block;
    position: absolute;
    height: 24px;
    padding-top: 2px;
    top: 0;
    left: 30%;
    z-index: 1000001;
}

.errordiv {
    background-color: #FFFFFF;
    height: 100%;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px 0;
    -webkit-box-shadow: 0 0 10px 0;
    -moz-box-shadow: 0 0 10px 0;
}

.errordiv div {
    float: left;
}

.er-msg-ell {
    white-space: nowrap;
    width: inherit;
    max-width: 460px;
    display: inline-block;
    padding: 4px;
    overflow: hidden;
    border: 0;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.crs-rem {
    display: flex;
    margin-top: 20%;
    margin-left: 4px;
    margin-right: 4px;
}

.cl-ell {
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}

/* transparent button */
.btn-trans {
    margin-top: -10px;
}

.btn-trans>.dijitButton .dijitButtonNode,.dijitDropDownButton .dijitButtonNode,.dijitComboButton .dijitButtonNode,.dijitToggleButton .dijitButtonNode
{
    border: 0px;
    padding: 0px;
    font: bold 12px Arial;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: none;
    background-color: transparent;
}

.btn-trans .dijitButtonText {
    padding: 0px;
}

.btn-trans .dijitArrowButtonInner {
    background-image: url("images/clist/down.png");
    background-repeat: inherit;
    background-position: 0px;
}

/* transparent button */

/* menu item */
.mn-pr {
    z-index: 100;
    position: absolute;
    display: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background: #FFF;
}

.actionMenu .dijitReset {
    padding: 5px !important;
    font: bold 12px arial;
}

.actionMenu .dijitMenuItemFocused {
    background-color: #ffffff !important;
    color: #333333;
}

.actionMenu .dijitMenuItemHover {
    background-color: #50b2ea !important;
    color: #fff !important;
    border: 1px solid #ccc;
    font-weight: bold;
}

.dijitMenuTable {
    border: 1px solid #ccc !important;
}
/* Menu styles - end */

/* Datagrid styles - start */
.inventoryEvents .dojoxGridContent>div {
    position: inherit !important;
}

.inventoryEvents {
    width: 100% !important;
    min-height: 60px !important;
    height: auto;
    font-size: 13px;
}

.inventoryEvents .dojoxGridHeader {
    left: 0 !important;
}

.inventoryEvents .dojoxGridHeader,.inventoryEvents .dojoxGridHeader .dojoxGridRowTable,.inventoryEvents .dojoxGridMasterView table.dojoxGridRowTable,.inventoryEvents .dojoxGridHeader div,.inventoryEvents .dojoxGridMasterView div
{
    width: 100% !important;
    font: 12px arial;
}

.inventoryEvents .dojoxGridMasterView .dojoxGridView {
    top: 30px !important;
    border-top: 1px solid #e2e2e2 !important;
}

.inventoryEvents .dojoxGridMasterView .dojoxGridContent {
    width: 100% !important;
    height: auto !important;
}

.inventoryEvents,.inventoryEvents .dojoxGridRowOdd,.dojoxGridHeader .dojoxGridCell
{
    background: #ffffff !important;
}

.sortImage {
    position: relative;
    top: 3px;
    left: 3px;
    cursor: default !important;
}

.inventoryEvents .dojoxGridRowSelected {
    background: none !important;
}

.srch-mn {
    height: 0%;
    display: inline;
    position: relative;
    left: -5px;
}

.num {
    text-align: right;
}

.cust-view-header {
    border: 0;
    height: 34px;
}
.cust-view-header .col-hd{
    margin: 0;
    color: #333;
    font-weight: normal;
    font: 14px arial;
}
.cust-view-header .col-wd{
    height: 0;
}

.cust-view-header>div:hover {
    background: transparent;
}

.cust-view-header .rw-cl {
    border: none !important;
    position: relative;
	top: 8px;
}

.cust-view-header.row {
    background: #E0DDDA;
}

.cv-rw-cl {
    //background: #e2e2e2;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: #1B93D7;
    font-weight: bold;
}

.ld {
    margin: 0 auto;
    width: 95px;
    height: 35px;
}

.ld-img {
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-top: 2px;
}

.ld-txt {
    float: right;
    display: inline-block;
    font: bold 12px arial;
    padding: 10px 0px;
    margin-top: 2px;
}

.rw-btn>span {
    position: relative;
    bottom: 1px;
}

/*Inventory reset styles */
.inv-reset {
    width: 98%;
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px;
}

.inv-reset-header {
    width: 100%;
    height: 25px;
}

.headingLine {
    height: 1px;
    background: #e2e2e2;
}

.inv-reset-content-bar {
    height: 140px;
    margin: 0px auto;
    padding-top: 10px;
}

.inv-reset-title {
    display: inline-block;
    float: left;
    color: #333333;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    padding-top: 10px;
}

.inv-reset-buttons {
    display: inline-block;
    float: right;
}

.inv-reset-content-first {
    height: 50px;
}

.inv-reset-buttons>div {
    display: inline-block;
    float: left;
    padding-right: 5px !important;
}

.inv-Reset-submit span {
    outline: none;
}

.inv-reset-clear {
    position: relative;
    top: 5px;
}

.inv-reset-content-left {
    width: 20% !important;
}

.inv-reset-content-middle {
    width: 75% !important;
}

.inv-reset-content-right {
}

.inv-reset-content-row {
    margin-bottom: 10px;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.inv-reset-reason,.inv-reset-comment {
    width: 250px !important;
}

.inv-reset-comment {
    height: 60px !important;
    resize: none;
    border: 1px solid black;
    overflow: auto;
    outline: none;
    padding: 0 !important;
}

.alignRight,.inv-reset-qty .dijitInputInner, .quantity .dijitInputInner {
    text-align: right !important;
}

.inv-reset-qty {
    width: 125px !important;
}

.availQty {
    border: none !important;
    width: 90px !important;
}

.inv-reset .dijitArrowButtonContainer {
    width: 18px !important;
    height: 18.5px;
}

.dijitSelect .dijitArrowButtonInner,.dijitComboBox .dijitArrowButtonInner
{
    margin: 2px;
    width: 16px !important;
}

.cnfm-btn {
 	margin-top: 0px;
    position: absolute;
    right: 0px;
}

.dijitTextBox {
    border: 1px solid #CCC;
    border-radius: 0 !important;
    font-size:12px;
}

.dijitSelectDisabled, .dijitTextBoxDisabled, .dijitTextBoxDisabled .dijitInputContainer {
    background-color: #efefef;
    background-image: none;
}
.dijitSelectDisabled, .dijitSelectDisabled .dijitButtonContents, .dijitTextBoxDisabled, .dijitTextBoxDisabled .dijitButtonNode {
    border-color: #d3d3d3;
}
.dijitDisabled input {
    color: #757575;
}
.dijitTextBoxError .dijitValidationContainer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D46363;
    background-image: url("images/clist/error.png");
    background-position: center top;
    border-color: #D46464;
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 1px;
    width: 9px;
    height: 19px;
}

input.dijitReset.dijitInputField.dijitValidationIcon.dijitValidationInner
{
    width: 0;
}

.dijitTextBox .dijitValidationContainer {
    padding: 0 0 1px;
}

.dijitInputContainer {
    padding: 0 5px !important;
}

.dijitTextBox .dijitInputInner {
    padding: 1px 2px 1px 0;
}

.dijitTextBoxError,.dijitTextBoxError .dijitButtonNode {
    border-color: #D46464 !important;
    height: 18.5px;
}

inp-txt .dijitTextBox {
    border: 0 !important;
}

.dijitComboBox .dijitButtonNode,.dijitSpinnerButtonContainer .dijitButtonNode
{
    background-color: #dad9d9 !important;
}

.placeholder {
    color: #AAAAAA;
    font-style: normal;
    font-size: 12px;
}

/* Combobox style */
.dijitMenu {
    border: 1px solid #CCCCCC !important;
}

.dijitPopup {
    font-family: Arial;
    font-size: 12px;
}

.dijitPopup :focus {
    outline: none;
}

.dijitMenu {
    border: 1px solid #CCCCCC !important;
}

.dijitMenuBar .dijitMenuItemHover,.dijitMenuBar .dijitMenuItemSelected {
    border: 1px solid #759DC0;
    padding: 5px 9px 6px;
}

.dijitMenu .dijitMenuItemSelected td {

}

/*
.dijitMenu .dijitMenuItemHover td, .dijitMenuItemHover,.dijitComboBoxMenu .dijitMenuItemHover
{
    background-color: #50B2EA;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #759DC0;
    color: #FFF;
}
*/

/* Combobox style */
.action-icon {
    height: 14px;
    width: 14px;
}

/*Inventory Sales - styles */
.inv-sales, .inv-returns {
    width: 98%;
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px;
}

.inv-sales-header {
    width: 100%;
    height: 35px;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
}

.inv-sales-title {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    position: absolute;
    left: 0px;
    top: 8px;
}

.inv-sales-buttons {
    display: inline-block;
    position: absolute;
    right: 0px;
}

.inv-sales-buttons>div {
    display: inline-block;
    padding-right: 5px !important;
}

.inv-sales-content {
    width: 100%;
    position: relative;
    min-height: 150px;
}

.inv-sales-content-left {
    width: 45%;
    display: inline-block;
    height: 100%;
}

.inv-sales-content-right {
    width: 55%;
    display: inline-block;
    height: 100%;
}
#content{
    width:970px;
    height:99%;
    margin: 0 auto;
}

#content > div{
    position: relative;
}

.content-right {
    position: absolute;
    right: 0px;
}

.content-left {
    position: absolute;
    left: 0px;
}

.inv-sales-content-left>div,.inv-sales-content-right>div {
    width: 50%;
    display: inline-block;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

.inv-sales-content>div>div>div {
    padding-bottom: 10px;
}
.billingAddress{
    display: inline-block;
    width: 95%;
}
.billingAddress .col-hd {
    margin-bottom: 3px;
}

.inv-sales-address {
    height: 100px;
    resize: none;
    overflow: auto;
    outline: none;
    border: 0;
    padding: 5px 5px;
    box-shadow:none;
}

.billToContainer{
	  width: 95%;
}
.shipToContainer{
	  width: 95%;
}
.salesBillLabel {
    display: inline-block;        
}

.salesBillLabel a {
    padding: 2px 0px;
    color: #999999;
}

.shipToContainer {
    position: relative;
}

.shipToContainer a {
text-decoration: underline;
padding-left: 5px;
position: absolute;
bottom: 8px;
background-color: white;
left: 8px;
}

.mandatorySymbol {
    color: red;
    font-weight: bold;
    padding-left: 2px;
    position: absolute;
}

.priceContainer {
    position: relative;
}

.currenyNodeContainer {
    z-index: 100;
    position: absolute;
    display: none;
    border: 1px solid;
    width: 250px;
    background: white;
}

.currency {
    display: inline-block;
    float: right;
}
/***
date Css
*
.dijitCalendarContainer {
    background-color: #50B2EA !important;
    border-radius: 5px;
    font: 11px arial;
    width: 230px;
    height: 190px;
}

.dijitCalendarContainer .dijitCalendarBodyContainer {
    background-color: white !important;
} 

.dijitCalendarPreviousMonth, .dijitCalendarNextMonth {
    background: rgb(101, 216, 208);
}

.dijitCalendarDateTemplate {
    width: 20px;
}

.dijitCalendarYearContainer {
    text-align: center;
}

.dijitCalendarYearContainer {
    height: 24px;
}
th.dijitReset.dijitCalendarDayLabelTemplate {
    width: 25px;
}

.dijitCalendarMonthLabelHover {
    background: #50b2ea;
    color: #FFF;
}

.dijitCalendarDateTemplate {
    height: 5px;
    width: 10px;
    border: 1px solid #ccc;
    vertical-align: top
}

.dijitCalendarDateLabel,#date1 .dijitCalendarDateTemplate {
    text-align: inherit
}

.dijitCalendarDayLabel {
    font-weight: bold
}

.dijitCalendarSelectedYear {
    color: #FFFFFF !important;
    font-size: 1.091em;
}

.dijitCalendarMonthLabel {
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 5px;	
}


.dijitCalendarDateTemplate.dijitCalendarCurrentDate {
    background-color: #50b2ea;
}

.dijitCalendarMonthContainer .dijitCalendarArrow {
    cursor: pointer;
}

.dijitCalendarContainer .dijitDropDownButton {
    background: white;
}*/

.zyme .dijitPopup {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.zyme .dijitCalendarDateTemplate .dijitCalendarDateLabel {
    font-family: Arial !important;
}
.zyme .dijitCalendarMonthLabel {
    font-family: arial;
}

/*date style ends*/
img.ui-datepicker-trigger {
    cursor: pointer;
    margin-bottom: 2px;
    vertical-align: middle;
    display: inline-block;
}

.currencyHeader {
    position: relative;
    padding: 5px;
}

.currencyContainer {
    display: inline-block;
}

.currencyHeader div {
    display: inline-block;
}

.currencyDropDown {

}

.currencyDropDownDiv {
    border: 1px solid grey !important;
    border-radius: 20px !important;
    display: inline-block !important;
    height: 20px !important !important;
    margin-top: 5px !important;
    background: white !important;	
}
.currencyDropDownDiv  .dijitArrowButtonInner,.currencyDropDownDiv .dijitValidationContainer,.currencyDropDownDiv .dijitArrowButtonContainer {
    display:none;
}



.content-main{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.content-main .contentLeft{
    width: 45%;
}
.content-main .contentMiddle{
    width: 25%;
    padding-right: 20px;
}
.content-main .contentRight{
    width: 20%;
}
.content-main .contentLeft > div{
    display: inline-block;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.content-main .contentRight > div {
    display: inline-block;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.curr{
    display: inline-block !important;
    float: right;
}

.customer-even .cv-rw-cl {
    background: white;
}

.cv-rw-cl:hover {
    background: #F6D69A;
}

.customer-even, .customer-odd {
    margin: 0px;
}

.cv-link > div{
    position: relative;
    display: inline;
}
.cv-link > div > a >.fa {
    font: normal normal normal 14px/1 FontAwesome;
}

a.icn-dv{
    color: inherit;
}
.reviewButtonCss > .dijitButtonNode{
    border: 1px solid #cccccc !important;
    background-color:#928f8a !important;
}
.dijitButtonDisabled .dijitButtonNode{		
    color: #cccccc !important ;
}

.zyme .dijitButtonDisabled .dijitButtonNode, .zyme .dijitDropDownButtonDisabled .dijitButtonNode, .zyme .dijitComboButtonDisabled .dijitButtonNode, .zyme .dijitToggleButtonDisabled .dijitButtonNode {
    color: #818181 !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
}

.zyme .primary-btn.dijitButtonDisabled:hover .dijitButtonNode,
.zyme .primary-btn[class=dijitButtonDisabled]:hover .dijitComboButton .dijitButtonNodeHover,
.zyme .primary-btn[class=dijitButtonDisabled]:hover .dijitComboButton .dijitDownArrowButtonHover,
.zyme .primary-btn[class=dijitButtonDisabled]:hover .dijitToggleButtonHover .dijitButtonNode {
    background-color: #f4f4f4 !important;
}

.resellerMappingGrid .dojoxGridContent div{
    top:0px !important;
}

.confirmOverlay {
	display: none;
}
.dropdownaction{
	font-size: 20px;
	position: relative;
	top: 1px;
}

.europa-navigation-bar {
	display: none;	
}

input.dojoxGridHiddenFocus {
  visibility: hidden;
}
.zyme .dijitTabContainer .tabStripButton {
  display: none;
}

.zyme .contentMiddle .dijitTextBoxFocused {
    background-color: #ffffff;
    background-image: none !important;
}
.contentMiddle .tabLabel {
    padding: 0 10px 0 0;
}

.block {
	display: block !important;
}

.inv-reset-content {
	width: 25%;
}

.inv-reset-content > div {
	height: 50px;
}
.dijitDialogUnderlay {
  opacity: 0 !important;
}

div#topPane {
    position: fixed !important;
	z-index: 1111;
}

div#breadCrumbPane {
    //top: 30px !Important;
}

#buttonBarPane, #centerPane {
    //top: 30px !important;
}

#centerPane { 
	width: 100% !important;
}

.customer-view, .partner-view {
	width: 970px;
    margin: 0px auto;
    position: relative;
}

#commonMessageContainer .msg-body {
	width: 400px;
}

#commonMessageContainer .message {
	min-height: 50px;
}

#navigation-bar {
    height: 30px;
    background-color: #131313;
}

#lbl-logo {
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 22px;
    font-weight: bold;
    margin-top: -2px;
    margin-left: 5px;
}

div#buttonbar > div {
    display: inline-block;
}

div.reviewButtonContainer {
	position: absolute;
	right: 0px;
}

.advancedSerialSearch {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}

.col-vl.billToContainer > textarea, .col-vl.shipToContainer > textarea {
    border: none !important;
}

.expane .ld {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 12;
}

#div-copyright {
    padding: 3px 4px;
    margin: 5px 0px;
    background-color: #eeeeee;
    font-size: 9px;
    color: #655D5D;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#div-copyright a {
    text-decoration: none;
    color: rgb(85, 26, 139) !important;
}

.ld .fa-pulse {
    font-size: 38px;
    width: 38px;
    height: 38px;
    color: #00A0DD;
}