@import url("../../../dojo/resources/dojo.css");
/* ======= Styling for the document itself (overriding dojo.css) ======== */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@font-face {
  font-family: 'Lucida Grande';
  src: url(images/6216.ttf);
}
.zyme {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #131313;
}
tr td,
label {
  font-family: Arial;
}
/* Headings */
.zyme h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
}
.zyme h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
.zyme h3,
.zyme h4,
.zyme h5,
.zyme h6 {
  font-size: 1.091em;
  font-weight: normal;
}
/* paragraphs, quotes and lists */
.zyme p {
  line-height: 1.3em;
}
/* pre and code */
.zyme pre,
.zyme code {
  font-family: inherit;
  background-color: #000000;
  border: 1px solid #d3d3d3;
}
/* tables */
.zyme table.dojoTabular thead,
.zyme table.dojoTabular tfoot {
  background-color: #000000;
  border: 1px solid #d3d3d3;
}
